# Drop tokens from the longest tweet if it exceeds max BERT length (that is 512)

In [30]:
import time

### Constants

In [31]:
LONGEST_TWEET_ID = 63888121

### Paths

In [32]:
TWEET_ID = "tweet_features_tweet_id"
TWEET_TOKENS = "tweet_features_text_tokens"

TWEET_TOKENS_FILE = "tweet_tokens/text_tokens_all_no_escaped_chars.csv"

RESULT_PATH = "tweet_tokens/text_tokens_all_reduced_longest_tweet.csv"

In [40]:
result_file = open(RESULT_PATH, "w+")

### Write the header (columns names)

In [41]:
result_file.write(TWEET_ID + ',' + TWEET_TOKENS + "\n")

51

### Open files to be read and perform the substitution

In [42]:
tokens_file = open(TWEET_TOKENS_FILE, "r")

In [43]:
def save_tweet(index, text):
    string = index + ','
    for item in text:
        string += '\t' + item 
    result_file.write(string)

In [44]:
%%time

# ~4 MINUTES EXECUTION ON THE WHOLE DATASET

# ignore header
tokens_file.readline()

finished = False
i = 0

while not finished:  # and i < 1:
    
    if i % 1000000 == 0:
        print(i)
            
    line = str(tokens_file.readline())
    
    if line != '':
        
        if i == LONGEST_TWEET_ID:
            line = line.split('\t')  # replace("\\n",'').replace("\\t",'\t')
            print(line)

            for j in range(18):
                line.pop(1)  # avoid popping the element in pos 0 (containing tweet_id and CLS token)

            print(line)
            save_tweet(str(i), line)
        
        else:
            result_file.write(line)
        
    else:
        finished = True

    i += 1

0
1000000
2000000
3000000
4000000
5000000
6000000
7000000
8000000
9000000
10000000
11000000
12000000
13000000
14000000
15000000
16000000
17000000
18000000
19000000
20000000
21000000
22000000
23000000
24000000
25000000
26000000
27000000
28000000
29000000
30000000
31000000
32000000
33000000
34000000
35000000
36000000
37000000
38000000
39000000
40000000
41000000
42000000
43000000
44000000
45000000
46000000
47000000
48000000
49000000
50000000
51000000
52000000
53000000
54000000
55000000
56000000
57000000
58000000
59000000
60000000
61000000
62000000
63000000
['63888121,101', '137', '14089', '71136', '10269', '48502', '77850', '137', '37314', '10692', '11396', '98041', '11396', '100595', '69975', '137', '181', '83148', '168', '10393', '31362', '137', '11357', '42918', '10330', '10884', '11305', '61400', '100595', '10929', '11211', '137', '10247', '168', '10824', '168', '10146', '49243', '137', '40445', '19665', '137', '10883', '12396', '73491', '32080', '168', '168', '168', '137', '10360', '32168', '10305', '137', '124', '11537', '10113', '11396', '10570', '137', '50754', '12396', '12443', '10162', '137', '139', '10237', '13966', '10410', '13966', '10237', '68999', '11703', '11166', '12022', '11033', '11565', '10418', '137', '10380', '110151', '23377', '10418', '10147', '137', '12541', '13660', '10418', '10418', '137', '10421', '168', '121', '168', '36596', '137', '142', '71136', '168', '15546', '24213', '10237', '137', '22167', '38990', '11273', '11373', '10686', '137', '24625', '20193', '83866', '24747', '10884', '137', '161', '11305', '10147', '10731', '10116', '10874', '11733', '11274', '10129', '13034', '10113', '86888', '11373', '10138', '137', '129', '10350', '11369', '11039', '19282', '15417', '10240', '12674', '11537', '11373', '10147', '12022', '35273', '137', '10164', '82123', '13599', '10921', '11373', '137', '16548', '168', '10883', '10731', '100754', '10116', '10759', '137', '25327', '71859', '13600', '10219', '14139', '21057', '137', '25694', '22659', '18453', '23315', '10129', '137', '64164', '10113', '10929', '11305', '10410', '14703', '10874', '11537', '12355', '24093', '10350', '12674', '137', '174', '168', '54799', '10929', '137', '10164', '21948', '13129', '76977', '11211', '137', '182', '11373', '11166', '168', '10209', '137', '40445', '16724', '10147', '10729', '137', '28335', '13420', '13820', '12969', '37301', '11373', '168', '42230', '137', '15694', '85505', '69646', '88657', '11396', '11373', '137', '11859', '64449', '99555', '11011', '137', '122', '89922', '93280', '10759', '137', '10883', '22491', '30742', '11373', '137', '143', '14403', '41756', '10759', '137', '169', '11369', '10477', '11166', '11090', '11090', '10161', '11779', '11733', '10457', '13966', '11305', '19282', '10477', '10929', '137', '10883', '13078', '11037', '15926', '12396', '15149', '10162', '137', '124', '12396', '10157', '11517', '70473', '35826', '35102', '11090', '10575', '11166', '10107', '137', '10733', '10400', '10929', '10174', '11373', '17054', '13966', '10123', '70325', '10157', '137', '15595', '51814', '23232', '10731', '13322', '10237', '137', '10883', '22491', '30742', '10729', '137', '125', '10410', '10240', '11733', '10729', '11274', '11373', '10884', '10731', '11305', '10161', '15417', '11565', '10116', '11211', '137', '20220', '11305', '11305', '13420', '10686', '137', '144', '10477', '11281', '11211', '12022', '10350', '12022', '13966', '11490', '10477', '11274', '10147', '11259', '10138', '11273', '137', '12134', '81456', '10884', '106986', '52064', '10112', '137', '130', '10692', '11373', '11166', '10115', '137', '25100', '11143', '56354', '10129', '37462', '10759', '137', '12797', '10310', '10237', '168', '11015', '137', '58768', '15774', '26960', '53452', '30449', '11166', '25285', '10123', '137', '40678', '70846', '31351', '10927', '51180', '137', '77710', '104107', '76897', '82049', '71793', '11373', '766', '82397', '763', '11693', '48607', '35640', '10582', '12497', '59901', '12497', '22973', '11086', '791', '13154', '30877', '29732', '776', '10388', '34414', '752', '752', '752', '59901', '81435', '15909', '10461', '784', '24618', '100', '32644', '791', '77283', '10742', '788', '107085', '10961', '766', '51554', '59901', '110094', '10388', '781', '29732', '14653', '59901', '24579', '27887', '752', '752', '752', '752', '766', '31190', '10461', '764', '53595', '12497', '752', '752', '752', '752', '12441', '41507', '10673', '59901', '72602', '48711', '781', '36817', '12084', '14269', '43628', '35640', '24076', '786', '22973', '11086', '88868', '10388', '27887', '791', '14286', '11693', '10582', '791', '10961', '14286', '10700', '752', '752', '752', '59901', '81435', '15909', '10388', '793', '12616', '104317', '11326', '59901', '15995', '36334', '752', '752', '752', '752', '11749', '781', '29732', '14653', '14269', '55363', '786', '39197', '10673', '752', '752', '752', '68269', '14269', '10429', '769', '83584', '12326', '788', '11091', '41002', '14146', '788', '11091', '12616', '774', '10461', '95458', '59901', '15995', '10658', '791', '53797', '14431', '18006', '22585', '102\n']
['63888121,101', '10393', '31362', '137', '11357', '42918', '10330', '10884', '11305', '61400', '100595', '10929', '11211', '137', '10247', '168', '10824', '168', '10146', '49243', '137', '40445', '19665', '137', '10883', '12396', '73491', '32080', '168', '168', '168', '137', '10360', '32168', '10305', '137', '124', '11537', '10113', '11396', '10570', '137', '50754', '12396', '12443', '10162', '137', '139', '10237', '13966', '10410', '13966', '10237', '68999', '11703', '11166', '12022', '11033', '11565', '10418', '137', '10380', '110151', '23377', '10418', '10147', '137', '12541', '13660', '10418', '10418', '137', '10421', '168', '121', '168', '36596', '137', '142', '71136', '168', '15546', '24213', '10237', '137', '22167', '38990', '11273', '11373', '10686', '137', '24625', '20193', '83866', '24747', '10884', '137', '161', '11305', '10147', '10731', '10116', '10874', '11733', '11274', '10129', '13034', '10113', '86888', '11373', '10138', '137', '129', '10350', '11369', '11039', '19282', '15417', '10240', '12674', '11537', '11373', '10147', '12022', '35273', '137', '10164', '82123', '13599', '10921', '11373', '137', '16548', '168', '10883', '10731', '100754', '10116', '10759', '137', '25327', '71859', '13600', '10219', '14139', '21057', '137', '25694', '22659', '18453', '23315', '10129', '137', '64164', '10113', '10929', '11305', '10410', '14703', '10874', '11537', '12355', '24093', '10350', '12674', '137', '174', '168', '54799', '10929', '137', '10164', '21948', '13129', '76977', '11211', '137', '182', '11373', '11166', '168', '10209', '137', '40445', '16724', '10147', '10729', '137', '28335', '13420', '13820', '12969', '37301', '11373', '168', '42230', '137', '15694', '85505', '69646', '88657', '11396', '11373', '137', '11859', '64449', '99555', '11011', '137', '122', '89922', '93280', '10759', '137', '10883', '22491', '30742', '11373', '137', '143', '14403', '41756', '10759', '137', '169', '11369', '10477', '11166', '11090', '11090', '10161', '11779', '11733', '10457', '13966', '11305', '19282', '10477', '10929', '137', '10883', '13078', '11037', '15926', '12396', '15149', '10162', '137', '124', '12396', '10157', '11517', '70473', '35826', '35102', '11090', '10575', '11166', '10107', '137', '10733', '10400', '10929', '10174', '11373', '17054', '13966', '10123', '70325', '10157', '137', '15595', '51814', '23232', '10731', '13322', '10237', '137', '10883', '22491', '30742', '10729', '137', '125', '10410', '10240', '11733', '10729', '11274', '11373', '10884', '10731', '11305', '10161', '15417', '11565', '10116', '11211', '137', '20220', '11305', '11305', '13420', '10686', '137', '144', '10477', '11281', '11211', '12022', '10350', '12022', '13966', '11490', '10477', '11274', '10147', '11259', '10138', '11273', '137', '12134', '81456', '10884', '106986', '52064', '10112', '137', '130', '10692', '11373', '11166', '10115', '137', '25100', '11143', '56354', '10129', '37462', '10759', '137', '12797', '10310', '10237', '168', '11015', '137', '58768', '15774', '26960', '53452', '30449', '11166', '25285', '10123', '137', '40678', '70846', '31351', '10927', '51180', '137', '77710', '104107', '76897', '82049', '71793', '11373', '766', '82397', '763', '11693', '48607', '35640', '10582', '12497', '59901', '12497', '22973', '11086', '791', '13154', '30877', '29732', '776', '10388', '34414', '752', '752', '752', '59901', '81435', '15909', '10461', '784', '24618', '100', '32644', '791', '77283', '10742', '788', '107085', '10961', '766', '51554', '59901', '110094', '10388', '781', '29732', '14653', '59901', '24579', '27887', '752', '752', '752', '752', '766', '31190', '10461', '764', '53595', '12497', '752', '752', '752', '752', '12441', '41507', '10673', '59901', '72602', '48711', '781', '36817', '12084', '14269', '43628', '35640', '24076', '786', '22973', '11086', '88868', '10388', '27887', '791', '14286', '11693', '10582', '791', '10961', '14286', '10700', '752', '752', '752', '59901', '81435', '15909', '10388', '793', '12616', '104317', '11326', '59901', '15995', '36334', '752', '752', '752', '752', '11749', '781', '29732', '14653', '14269', '55363', '786', '39197', '10673', '752', '752', '752', '68269', '14269', '10429', '769', '83584', '12326', '788', '11091', '41002', '14146', '788', '11091', '12616', '774', '10461', '95458', '59901', '15995', '10658', '791', '53797', '14431', '18006', '22585', '102\n']
64000000
65000000
66000000
67000000
68000000
69000000
70000000
71000000
72000000
73000000
CPU times: user 3min 28s, sys: 31.9 s, total: 4min
Wall time: 4min 7s

In [46]:
tokens_file.close()

result_file.close()

In [47]:
len(['63888121,101', '10393', '31362', '137', '11357', '42918', '10330', '10884', '11305', '61400', '100595', '10929', '11211', '137', '10247', '168', '10824', '168', '10146', '49243', '137', '40445', '19665', '137', '10883', '12396', '73491', '32080', '168', '168', '168', '137', '10360', '32168', '10305', '137', '124', '11537', '10113', '11396', '10570', '137', '50754', '12396', '12443', '10162', '137', '139', '10237', '13966', '10410', '13966', '10237', '68999', '11703', '11166', '12022', '11033', '11565', '10418', '137', '10380', '110151', '23377', '10418', '10147', '137', '12541', '13660', '10418', '10418', '137', '10421', '168', '121', '168', '36596', '137', '142', '71136', '168', '15546', '24213', '10237', '137', '22167', '38990', '11273', '11373', '10686', '137', '24625', '20193', '83866', '24747', '10884', '137', '161', '11305', '10147', '10731', '10116', '10874', '11733', '11274', '10129', '13034', '10113', '86888', '11373', '10138', '137', '129', '10350', '11369', '11039', '19282', '15417', '10240', '12674', '11537', '11373', '10147', '12022', '35273', '137', '10164', '82123', '13599', '10921', '11373', '137', '16548', '168', '10883', '10731', '100754', '10116', '10759', '137', '25327', '71859', '13600', '10219', '14139', '21057', '137', '25694', '22659', '18453', '23315', '10129', '137', '64164', '10113', '10929', '11305', '10410', '14703', '10874', '11537', '12355', '24093', '10350', '12674', '137', '174', '168', '54799', '10929', '137', '10164', '21948', '13129', '76977', '11211', '137', '182', '11373', '11166', '168', '10209', '137', '40445', '16724', '10147', '10729', '137', '28335', '13420', '13820', '12969', '37301', '11373', '168', '42230', '137', '15694', '85505', '69646', '88657', '11396', '11373', '137', '11859', '64449', '99555', '11011', '137', '122', '89922', '93280', '10759', '137', '10883', '22491', '30742', '11373', '137', '143', '14403', '41756', '10759', '137', '169', '11369', '10477', '11166', '11090', '11090', '10161', '11779', '11733', '10457', '13966', '11305', '19282', '10477', '10929', '137', '10883', '13078', '11037', '15926', '12396', '15149', '10162', '137', '124', '12396', '10157', '11517', '70473', '35826', '35102', '11090', '10575', '11166', '10107', '137', '10733', '10400', '10929', '10174', '11373', '17054', '13966', '10123', '70325', '10157', '137', '15595', '51814', '23232', '10731', '13322', '10237', '137', '10883', '22491', '30742', '10729', '137', '125', '10410', '10240', '11733', '10729', '11274', '11373', '10884', '10731', '11305', '10161', '15417', '11565', '10116', '11211', '137', '20220', '11305', '11305', '13420', '10686', '137', '144', '10477', '11281', '11211', '12022', '10350', '12022', '13966', '11490', '10477', '11274', '10147', '11259', '10138', '11273', '137', '12134', '81456', '10884', '106986', '52064', '10112', '137', '130', '10692', '11373', '11166', '10115', '137', '25100', '11143', '56354', '10129', '37462', '10759', '137', '12797', '10310', '10237', '168', '11015', '137', '58768', '15774', '26960', '53452', '30449', '11166', '25285', '10123', '137', '40678', '70846', '31351', '10927', '51180', '137', '77710', '104107', '76897', '82049', '71793', '11373', '766', '82397', '763', '11693', '48607', '35640', '10582', '12497', '59901', '12497', '22973', '11086', '791', '13154', '30877', '29732', '776', '10388', '34414', '752', '752', '752', '59901', '81435', '15909', '10461', '784', '24618', '100', '32644', '791', '77283', '10742', '788', '107085', '10961', '766', '51554', '59901', '110094', '10388', '781', '29732', '14653', '59901', '24579', '27887', '752', '752', '752', '752', '766', '31190', '10461', '764', '53595', '12497', '752', '752', '752', '752', '12441', '41507', '10673', '59901', '72602', '48711', '781', '36817', '12084', '14269', '43628', '35640', '24076', '786', '22973', '11086', '88868', '10388', '27887', '791', '14286', '11693', '10582', '791', '10961', '14286', '10700', '752', '752', '752', '59901', '81435', '15909', '10388', '793', '12616', '104317', '11326', '59901', '15995', '36334', '752', '752', '752', '752', '11749', '781', '29732', '14653', '14269', '55363', '786', '39197', '10673', '752', '752', '752', '68269', '14269', '10429', '769', '83584', '12326', '788', '11091', '41002', '14146', '788', '11091', '12616', '774', '10461', '95458', '59901', '15995', '10658', '791', '53797', '14431', '18006', '22585', '102\n'])

511

### Check the dataset

In [213]:
%%time

df = pd.read_csv(RESULT_PATH,
                    names=[TWEET_ID],
                    #nrows=N_ROWS,
                    header=0,
                    index_col=0)

CPU times: user 139 ms, sys: 19.7 ms, total: 158 ms
Wall time: 157 ms

In [214]:
df

                                 tweet_features_tweet_id
0      101\t6417\t3410\t3398\t3184\t1909\t56910\t1683...
1      101\t14120\t131\t120\t120\t188\t119\t11170\t12...
2      101\t62342\t10858\t54439\t19571\t22480\t7831\t...
3      101\t58955\t10898\t103305\t1901\t16181\t7168\t...
4      101\t2435\t5656\t2594\t8279\t8623\t1925\t64126...
...                                                  ...
49995  101\t50013\t140\t20764\t12989\t72493\t15834\t2...
49996  101\t14120\t131\t120\t120\t188\t119\t11170\t12...
49997  101\t56898\t137\t170\t10806\t168\t22185\t40762...
49998  101\t11862\t13321\t24054\t112\t187\t102498\t19...
49999  101\t3197\t2179\t1946\t8618\t2594\t1881\t1995\...

[50000 rows x 1 columns]