# Load unique tweet tokens from file and remove escaped chars

In [1]:
import time

### Constants

In [2]:
N_ROWS = 50000

### Special Chars (represented by BERT's tokens)

In [3]:
gt_string = "111\t175\t10123\t132" # "& gt ;"
lt_string = "111\t43900\t132" # "& lt ;"
amp_string = "111\t10392\t10410\t132" # "& amp ;"

### Paths

In [6]:
TWEET_ID = "tweet_features_tweet_id"
TWEET_TOKENS = "tweet_features_text_tokens"

TWEET_TOKENS_FILE = "tweet_tokens/text_tokens_unique_all.csv"

RESULT_PATH = "tweet_tokens/text_tokens_no_escaped_chars.csv"

In [7]:
result_file = open(RESULT_PATH, "w+")

### Write the header (columns names)

In [8]:
result_file.write(TWEET_ID + ',' + TWEET_TOKENS + "\n")

51

### Open files to be read and perform the substitution

In [9]:
tokens_file = open(TWEET_TOKENS_FILE, "r")

In [10]:
def save_tweet(index, text):
    line = index + ','
    for item in text:
        line += item

In [11]:
%%time

# ABOUT ~8 MINUTES EXECUTION ON THE WHOLE DATASET

# ignore header
tokens_file.readline()

finished = False
i = 0

while not finished and i < N_ROWS:
    
    line = str(tokens_file.readline())
    
    if line != '':
        
        line = line.replace("\\n",'').replace("\\t",'\t')
        
        if gt_string in line:
            line = line.replace(gt_string, gt_token)
        if lt_string in line:
            line = line.replace(lt_string, lt_token)
        if amp_string in line:
            line = line.replace(amp_string, amp_token)
            
        #print(line)
        
        result_file.write(line)
        
    else:
        finished = True

    i += 1

CPU times: user 14.8 ms, sys: 12.6 ms, total: 27.5 ms
Wall time: 26.9 ms

In [12]:
tokens_file.close()

result_file.close()

### Check the dataset

In [213]:
%%time

df = pd.read_csv(RESULT_PATH,
                    names=[TWEET_ID],
                    #nrows=N_ROWS,
                    header=0,
                    index_col=0)

CPU times: user 139 ms, sys: 19.7 ms, total: 158 ms
Wall time: 157 ms

In [214]:
df

                                 tweet_features_tweet_id
0      101\t6417\t3410\t3398\t3184\t1909\t56910\t1683...
1      101\t14120\t131\t120\t120\t188\t119\t11170\t12...
2      101\t62342\t10858\t54439\t19571\t22480\t7831\t...
3      101\t58955\t10898\t103305\t1901\t16181\t7168\t...
4      101\t2435\t5656\t2594\t8279\t8623\t1925\t64126...
...                                                  ...
49995  101\t50013\t140\t20764\t12989\t72493\t15834\t2...
49996  101\t14120\t131\t120\t120\t188\t119\t11170\t12...
49997  101\t56898\t137\t170\t10806\t168\t22185\t40762...
49998  101\t11862\t13321\t24054\t112\t187\t102498\t19...
49999  101\t3197\t2179\t1946\t8618\t2594\t1881\t1995\...

[50000 rows x 1 columns]

In [470]:
df = pd.read_csv(TWEET_ID_FILE,
                    names=[TWEET_ID],
                    compression='gzip',
                    #nrows=N_ROWS,
                    header=0,
                    index_col=0)

In [471]:
len(df[TWEET_ID].unique())

904761

### Older code for padding using pandas (should be no more useful)

In [ ]:
def save_chunk(chunk, path):
    chunk.to_csv(path, 
                 columns=[COLUMN_NAME],
                 header=None,
                 mode='a',
                 compression='gzip')

In [ ]:
%%time

for chunk in pd.read_csv(PATH,
                            chunksize=CHUNKSIZE,
                            names=[TWEET_ID],
                            compression='gzip',
                            nrows=N_ROWS,
                            header=0,
                            index_col=0):
    
    for row in chunk[TWEET_TOKENS]:

        for i in range(len(row), max_tweet_length):
            row.append(PAD)

        if (len(row) != max_tweet_length):
            print('Error')
            break

In [ ]:
dataframe.to_csv(PATH_TWEETS_PADDED,
                 header=None,
                 mode='w',
                 compression='gzip')